# Emacs backup files
*~
\#*\#
.\#*

# Emacs auto-save & lock files
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list/

# Directory-local variables
.dir-locals.el

# Vim (just in case)
*.swp
*.swo
